<div class="container-fluid" id="roomsPage">
  <div class="row">
  <!-- name the room -->
  <div class="form-group" id = "room-name">
  <label for="roomname"> Room Name:</label>
  <input class= "form-control" placeholder="Name of Your Room" ng-model="roomName" required>
  </div>
  <!--description of the room -->
  <div class="form-group" id = "room-description">
  <label for="roomdescription"> Room Description:</label>
  <input class= "form-control" placeholder="Description of Your Room" ng-model="description" required>
  </div>
  <button type="submit" class="btn btn-primary btn-block"  ng-click="addRooms()">Submit</button>

    <div id="searchRooms">
      Search for a room: <input class="searchRoomQuery" ng-model="query"></input>
    </div>
    <div ng-repeat='room in rooms | filter:query'>
      <div class="col-md-4">
        <div class="card">
          <div class="card-content">
            <p ng-model="roomName" class="roomCard">{{room.name}}</p>
            <p class="text-center">{{room.description}}</p>
          </div>
          <div class="card-action">
          <a class="btn sharp btn-block" href="/chat/{{room.name}}">Join {{room.name}} Chat Room</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

